<style type="text/css">
    .header-bottom2 {
    padding-top: 15em;
    position: relative;
    margin-right: 9em;
    margin-left: 11px;
    margin-top: 11px;
    margin-bottom: 0px;
    float: right;
    margin-bottom: 100px;
}
.row {
    margin-left: -92px;
    margin-right: -92px;
}
.header-bottom2 a {
    width:83%;
    padding: 1em;
    font-size: 1em;
    font-weight: 300;
    margin-left: 2em;
    outline: none;
    border: none;
    border-radius: 2px;
    background: url(../images/search.png)no-repeat 19px 18px #4acaff;
    color: #fff;
    cursor: pointer;
    font-style: italic;
}
.left-sidebar{
    float: left;
  background:#FFFFFF;
    /*border: 1px #d7d7e4 solid;*/
    font-size: 13px;
    font-weight: 400;
    color: gray;
   
}
.rightsidebar{
    float: right;
   background:#FFFFFF;
}

#row1{
    margin-bottom: 17px;
}
.innersidebar{
 
  border-bottom:  1px #d7d7e4 solid;
}

.sidebar-heading {
    background: rgba(247, 198, 59, 0.74);;
    color: #80808A;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 59px;
    padding-right: 5px;
    margin-right: -15px;
    margin-left: -15px;
    border-bottom:  1px #d7d7e4 solid;
}
.sidebar-heading2 {
    background: #DEEC8C;
    color:#80808A;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 59px;
    padding-right: 5px;
    margin-right: -15px;
    margin-left: -15px;
    border-bottom:  1px #d7d7e4 solid;
}
.mainbox-heading {
    /*border: 1px #d7d7e4 solid;*/
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 1px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom:0px;
    background: url(../images/search.png)no-repeat 19px 18px #4acaff;
    color: #07005A;
}

/*.row2 {
    margin-left: 5px;
    margin-right: -2px;
}*/
.logo1{
    padding-top: 14px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 1px;
    margin-left:1px;
    margin-top: 1px;
    margin-bottom: 1px;

}
.desc {
    padding-top: 0px;
    padding-bottom: 6px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 1px;
    margin-left: 131px;
    margin-top: -88px;
    margin-bottom: 1px;
}
/*.col-md-5 {
    position: relative;
    min-height: 1px;
    padding-left: 32px;
    padding-right: 13px;
    padding-top: 36px;
    width: 613px;
}*/
.main {
     border: 1px #d7d7e4 solid;
    margin-top: 20px;
    margin-right: 0px;
    margin-left:0px;
    margin-bottom: 1px;
    border: 2px #d7d7e4 solid;
    padding-top: 17px;
    padding-bottom: 13px;
    padding-right: 0px;
}
.main2 {
    background:#FFFFFF;
 font-size: 13px;
    font-weight: 400;
    color: gray;
    /*margin-top: 20px;
    margin-right: 0px;
    margin-left:0px;
    margin-bottom: 1px;
    
    padding-top: 17px;
    padding-bottom: 13px;
    padding-right: 0px;*/
}
label.checkbox {
    color: #fff;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    display: inline-block;
    margin-right: 63px;
    padding-right: 0px;
    padding-left: 24px;
}
.job-column {
    padding: 0px 0px 0px 0px;
}
.carousel-inner> .item{
    width:100%;
}
.carousel-inner{
    width: 100%;
}
.row2{
    width:100%;
}

</style>
<style type="text/css">
    .rgt {
    float: right;
}
.mn-navinnr {
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 111;
}
.usersignin {
    display: block;
    margin-right: 5px;
    padding: 8px 10px 8px 55px;
    position: relative;
    text-decoration: none;
    outline: 0;
    transition: background 0.3s ease;
    color: #fff;
}
.usersignin .icowrap {
    background: #fff;
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    left: 5px;
    top: 10px;
    color: #71509d;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.miconlogin:before, #main_nav.fix .usersignin:hover .icowrap .miconlogin:before {
    content: '';
    width: 22px;
    height: 22px;
    background: url(http://media.monsterindia.com/seeker_2014/seeker_2015/seeker_combi.png) no-repeat -19px 0px;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -11px;
    position: absolute;
}
.usersignin .txtsmall {
    font-size: 11px;
    line-height: 16px;
}
.usersignin .txtbig {
    font-size: 17px;
}
.usersignin.signup {
    margin-right: 0px;
    padding: 16px 10px 16px 55px;
    border-left: 1px #bfbfbf solid;
    display: none;
}
.lft {
    float: left;
}
.usersignin {
    display: block;
    margin-right: 5px;
    padding: 8px 10px 8px 55px;
    position: relative;
    text-decoration: none;
    outline: 0;
    transition: background 0.3s ease;
    color: #fff;
}
.usersignin.signup .icowrap {
    height: 21px;
    width: 21px;
    padding: 7px;
}
.usersignin .icowrap {
    background: #fff;
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    left: 5px;
    top: 10px;
    color: #71509d;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.icowrap .miconsignup {
    height: 20px;
    width: 20px;
    background: url(http://media.monsterindia.com/seeker_2014/seeker_2015/tmp_combi.png) no-repeat 1px 0;
    display: block;
    margin: 0 auto;
}
.empwrap {
    position: relative;
}
.empwrap {
    width: 185px;
    padding: 7px 0px;
    text-decoration: none;
    outline: 0;
    display: block;
    color: #9b9b9b;
    text-align: center;
    background: #fff;
}
.empwrap .empdd_mainlnk {
    text-decoration: none;
    color: inherit;
    display: block;
}
.empwrap .txtbig {
    font-size: 17px;
}
.empwrap .txtbig .mico {
    font-size: 10px;
}
.empwrap .txtbig .mico {
    display: inline-block;
    width: 10px;
    position: relative;
    height: 10px;
}
.empwrap .txtbig .mico {
    font-size: 10px;
}
.empwrap .txtbig .mico {
    display: inline-block;
    width: 10px;
    position: relative;
    height: 10px;
}
.empwrap .empdd_mainlnk {
    text-decoration: none;
    color: inherit;
    display: block;
}
.emp_login_wrap {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background: #fff;
    border: 2px #71509d solid;
    z-index: 10;
    left: 0;
    padding: 5px 5px 5px 5px;
}
.emp_login_wrap .empdd_lnk {
    display: block;
    text-decoration: none;
    line-height: 28px;
    color: #71509d;
    position: relative;
    text-align: left;
    padding-left: 10px;
}
.emp_login_wrap .empdd_lnk.mrecruiter {
    background: #eee;
}
.emp_login_wrap .empdd_lnk.mrecruiter {
    background: #eee;
}
.emp_login_wrap .empdd_lnk {
    display: block;
    text-decoration: none;
    line-height: 28px;
    color: #71509d;
    position: relative;
    text-align: left;
    padding-left: 10px;
}
.emp_login_wrap .empdd_lnk {
    display: block;
    text-decoration: none;
    line-height: 28px;
    color: #71509d;
    position: relative;
    text-align: left;
    padding-left: 10px;
}
/*user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}*/
.sidebar2-heading {
    background: rgba(247, 198, 59, 0.74);
    color: #80808A;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 35px;
    padding-right: 5px;
    margin-right: -15px;
    margin-left: -15px;
    border-bottom: 1px #d7d7e4 solid;
}
</style>
 <style type="text/css">
        
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    /*border-color: #ddd;*/
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    /*border-color: #ddd;*/
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
    </style>