<style type="text/css">
	.job_tblcell {
    display: table-cell;
    width: auto;
    vertical-align: top;
}
.jdinfo {
    border: 1px #d7d7e4 solid;
}
.tp_jobwidgeth2 {
    line-height: 36px;
    font-size: 17px;
    padding: 0px 10px;
    color: #33747A;
    font-weight: normal;
    margin: 0;
}
h1 {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    padding: 0px;
    margin: 0px;
}
user agent stylesheet
:-webkit-any(article,aside,nav,section) h1 {
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.jd_infoh {
    color:#565656;
    margin: 0;
    padding: 0;
    font-szie: 14px;
    font-size: 13px;
     font-weight: bold;
}
h2 {
    font-weight: bold;
    font-size: 13px;
    color: #000;
    padding: 0px;
    margin: 0px;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.jd_infowrap {
    margin-right: 0%;
    margin-left: 6%;
    margin-bottom: 0%;
    margin-top: 0%;
}



Inherited from div.section_jd.job_tblcell
.job_tblcell.section_jd {
    width: 245px;
    font-size: 13px;
}
Inherited from div.job_tbl
.job_tbl {
    display: table;
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}


.jd_infotxt {
    font-size: 12px;
    color: #1D1515;
    display: block;
    word-wrap: break-word;
}
.cmmnspcr {
    height: 20px;
}

/*.col-md-3{
	margin-left: -8%;
}*/
/*.col-md-8{
	float: right;
}*/

.about-right {
    text-align:left;
}

.job_tblcell.section_lft {
    padding: 0px 30px;
}
.job_tblcell {
    display: table-cell;
    width: auto;
    vertical-align: top;
}

.cmp_jd {
    font-size: 22px;
    color: #000;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    margin-bottom: 15px;
}
h1 {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    padding: 0px;
    margin: 0px;
}
.cmp_info {
    position: relative;
    padding: 8px 0px 10px 178px;
    margin-bottom: 30px;
}
.cmp_logo {
    width: 160px;
    height: 60px;
    background: url(http://media.monsterindia.com/seeker_2014/seeker_2015/default_clogo.jpg) no-repeat center center;
    display: block;
    outline: 0;
    border: 0;
    transition: box-shadow 0.3s linear;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
a {
    color: #0d51ab;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
strong, b {
    font-weight: bold;
}
.view_allrjobs {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 13px;
    color: #565656;
    padding-left: 18px;
    margin-top: 5px;
    line-height: 20px;
    height: 20px;
    cursor: pointer;
}
a {
    color: #0d51ab;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
.view_allricon {
    position: absolute;
    left: 0px;
    top: 0px;
}
.jd_date {
    position: absolute;
    right: 3px;
    bottom: 3px;
    font-size: 12px;
    color: #565656;
}
.jd_fieldsetwrap {
    border: 1px #d7d7e4 solid;
    position: relative;
    margin-bottom: 35px;
    padding: 30px 20px 10px 20px;
    word-wrap: break-word;
}

element.style {
    font-weight: bold;
    font-size: 17px;
}
h2.fieldset_h {
    margin-top: 10px;
}
.fieldset_h {
    position: absolute;
    left: 10px;
    padding: 0px 10px;
    background: #fff;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    top: -22px;
    font-weight: normal;
    color: #673074;
}
h2 {
    font-weight: bold;
    font-size: 13px;
    color: #000;
    padding: 0px;
    margin: 0px;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.ns_jobdesc {
    font-size: 13px;
    word-wrap: break-word;
    color: #666666;
    padding-bottom: 10px;
}
h2.fieldset_h {
    margin-top: 10px;
}
.fieldset_h {
    position: absolute;
    left: 10px;
    padding: 0px 10px;
    background: #fff;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    top: -22px;
    font-weight: normal;
    color: #33747A;
}

.keylink {
    border-color: #565656;
}
.lft {
    float: left;
}
.keylink {
    text-decoration: none;
    font-size: 13px;
    color: #666666;
    display: inline-block;
    margin-right: 25px;
    line-height: 16px;
    border: 1px #fff dotted;
    padding: 3px;
    border-bottom: 1px #666 dotted;
    margin-bottom: 15px;
}

.jd_fieldsetwrap {
    border: 1px #d7d7e4 solid;
    position: relative;
    margin-bottom: 35px;
    padding: 30px 20px 10px 20px;
    word-wrap: break-word;
}
.jd_fieldsetwrap {
    border: 1px #d7d7e4 solid;
    position: relative;
    margin-bottom: 35px;
    padding: 30px 20px 10px 20px;
    word-wrap: break-word;
}
.ns_jobdesc {
    font-size: 13px;
    word-wrap: break-word;
    color: #666666;
    padding-bottom: 10px;
}

.applybtn:hover {
    background: #fff;
    color: #673074;
}
.followbtnwrap .applybtn {
    display: inline-block;
    font-size: 12px;
    width: 80px;
    margin-bottom: 0px;
}
.applybtn {
    width: 96px;
    background:#33747A;
    border: 1px #33747A solid;
    border-radius: 4px;
    color: #fff;
    transition: background 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: 26px;
    margin-bottom: 10px;
}
a {
    color: #0d51ab;
}
.apply_wrap {
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    bottom: 0;
    height: 34px;
    border-top: 1px #d7d7e4 solid;
    background: #f4f4f4;
    padding: 10px 0px;
    box-shadow: 0 -5px 5px -5px #aaa;
}

.apply_wrap {
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    bottom: 0;
    height: 34px;
    border-top: 1px #d7d7e4 solid;
    background: #f4f4f4;
    padding: 10px 0px;
    box-shadow: 0 -5px 5px -5px #aaa;
}

.sharewrapbtm {
    position: absolute;
    left: 20px;
    top: 10px;
}

.sharecmmn {
    position: relative;
}
.job_options {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 13px;
    color: #565656;
    padding-left: 22px;
    margin-top: 5px;
    line-height: 20px;
    height: 20px;
    cursor: pointer;
}
.lft {
    float: left;
}
.sharecmmn {
    margin-right: 10px;
}
.job_options {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 13px;
    color: #565656;
    padding-left: 22px;
    margin-top: 5px;
    line-height: 20px;
    height: 20px;
    cursor: pointer;
}

.jopt_iconwrap {
    position: absolute;
    left: 0px;
    top: 0px;
}
.jopt_iconwrap {
    position: absolute;
    left: 0px;
    top: 0px;
}
.jopt_iconwrap .miconshare {
    background: url(http://media.monsterindia.com/seeker_2014/seeker_2015/tmp_combi.png) no-repeat -20px -22px;
    width: 20px;
    height: 14px;
    display: block;
}
.jopt_iconwrap .miconshare {
    background: url(http://media.monsterindia.com/seeker_2014/seeker_2015/tmp_combi.png) no-repeat -20px -22px;
    width: 20px;
    height: 14px;
    display: block;
}
.sharecmmn .sharewrap {
    position: absolute;
    left: 0;
    top: -6px;
    background: #fff;
    z-index: 10;
    display: none;
}

.sharewrapinnr {
    background: #fff;
    box-shadow: 0px 0px 2px #d7d7e4;
    border: 1px #d7d7e4 solid;
    padding: 2px;
}

</style>