.scrollbar
{
	width:722px;
	height: auto;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
	margin-left:20px;
	float:left;
}

.force-overflow
{
	min-height: 450px;
	 background:#FFFFFF;
}
/*
 *  STYLE 3
 */

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #A8A8A8;
}