.hotjobs_scroll
{
background-color:#FFFFFF;
width:700px;
height:660px;
float:left;
margin-bottom:30px;
border-radius:8px;
border:1px solid #ADADAD;
overflow: scroll;
}
.hotjobs_scroll::-webkit-scrollbar {
    width: 12px;
}

.hotjobs_scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.hotjobs_scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/*jobpost div in index page(featured jobs)*/
.jobposts
{
background-color:#FFFFFF;
height:500px;
float:left;
margin-bottom:30px;
border-radius:8px;
border:1px solid #ADADAD;
overflow: scroll;
}
.jobposts::-webkit-scrollbar {
    width: 12px;
}

.jobposts::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.jobposts::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* CSSTerm.com Simple CSS menu */
.menu_simple{float:left;width:240px;height:660px;background-color:#ffffff;}
.menu_simple::-webkit-scrollbar {
    width: 12px;
}

.menu_simple::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.menu_simple::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.menu_simple ul {
    margin: 0; 
    padding: 0;
    width:240px;
    list-style-type: none;
}

.menu_simple ul li a {
    text-decoration: none;
    color: white; 
    padding: 10.5px 11px;
    background-color: #2b2b2b;
    display:block;
}
 
.menu_simple ul li a:visited {
    color: white;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: white;
    background-color: #e41d24;
}
/*Menu  for employers(menu_simple1)*/
.menu_simple1{float:left;width:250px;}
.menu_simple1::-webkit-scrollbar {
    width: 12px;
}

.menu_simple1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.menu_simple1::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.menu_simple1 ul {
    margin: 0; 
    padding: 0;
    width:210px;
    list-style-type: none;
}

.menu_simple1 ul li a {
    text-decoration: none;
    color: white; 
    padding: 10.5px 11px;
    background-color: #2b2b2b;
    display:block;
}
 
.menu_simple1 ul li a:visited {
    color: white;
}
 
.menu_simple1 ul li a:hover, .menu_simple1 ul li .current {
    color: white;
    background-color: #e41d24;
}
